<div id="<%= dom_id task %>">
  <div class="col">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title" style="float:left"><%= task.title %></h5>
        <span class="badge bg-success ms-3"><%= task.status %></span>
        <div class="clearfix">
        </div>
        <p class="card-text"><small class="text-muted"><%= task.created_at %></small></p>  
        <p class="card-text"><%= truncate(strip_tags(task.content.to_s), length: 60) %></p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <%= link_to "Edit task", edit_project_task_path(project_id:task.project.id, id: task.id), class: "btn btn-sm btn-secondary" %>
            <%= link_to "Destroy task", [task.project, task], data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure?"
                          }, class: "btn btn-sm btn-danger" %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
