<div id="<%= dom_id task %>">
  <div class="col">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title" style="float:left"><%= task.title %></h5>
        <%= form_tag(project_task_update_status_path(project_id:task.project.id, task_id: task.id), method: "put") do %>
          <%= select_tag :status,  options_for_select(Task.statuses.except(:All).map{|status| status}, Task.statuses[task.status]), onchange: 'this.form.submit();', class: 'badge bg-success ms-3' %>
        <% end %>
        <div class="clearfix">
        </div>
        <p class="card-text"><small class="text-muted"><%= task.created_at %></small></p>  
        <p class="card-text"><%= truncate(strip_tags(task.content.to_s), length: 60) %></p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <%= link_to "Edit task", edit_project_task_path(project_id:task.project.id, id: task.id), class: "btn btn-sm btn-secondary" %>
            <%= link_to "Destroy task", [task.project, task], data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure?"
                          }, class: "btn btn-sm btn-danger" %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: "comments/comments", locals: {commentable: task}%>
<%= render partial: "comments/form", locals: {commentable: task}%>