<%= link_to "All tasks", all_tasks_path%>

<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to 'Register', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
<% end %>

<% if @user_task.present?%>
  <% @user_task.each do |task| %>
    <%= render :partial => 'tasks/task', :locals => {:task => task} %>
    <p>
      <%= link_to "Show this task", project_task_path(project_id: task.project.id, id: task.id) %>
    </p>
  <% end %>
<% else %>
  <h3>Sorry no task available for you</h3>
<% end %>
