<p style="color: green"><%= notice %></p>

<header class="pb-3 mb-4 border-bottom">
  <div class="d-flex align-items-center text-dark text-decoration-none">
    <span class="fs-4">Your tasks</span>
  </div>
</header>

<%= form_tag(search_tasks_path, method: "get") do %>
  <div class="row my-3">
    <div class="col-md-6">
      <%= label_tag :search, 'Search', class: "fw-bold" %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], onchange: 'this.form.submit();', class: 'form-control' %>
          <span class="input-group-btn">
            <%= submit_tag "Search", class: 'btn btn-primary' %>
          </span>
      </div>
    </div>
    <div class="col-md-6">
      <%= label_tag :status, 'Status', class: "fw-bold" %>
      <%= select_tag :status,  options_for_select(@status, params[:status] || 'All'),onchange: 'this.form.submit();', selected: 'All', class: 'form-control' %>
    </div>
  </div>
<% end %>
<br>
<div id="tasks">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <%if @user_tasks.present?%>
      <% @user_tasks.each do |task| %>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title"><%= task.title %></h5>
              <p class="card-text"><%= truncate(strip_tags(task.content.to_s), length: 60) %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to "View", project_task_path(project_id: task.project.id, id: task.id) , class:"btn btn-sm btn-secondary"%>
                  <%= link_to "Edit", edit_project_task_path(project_id: task.project.id, id: task.id), class:"btn btn-sm btn-danger" %>
                </div>
                <small class="text-muted"><%= time_ago_in_words(task.created_at) %> ago</small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
