<p style="color: green"><%= notice %></p>

<%= link_to "Back to projects", projects_path, class: "btn btn-outline-secondary" %>

<%= render @project %>


<div>
  <%= link_to "Add New Task", new_project_task_path(project_id: @project.id), class: "btn btn-success" %>
</div>

<table class="table table-responsive table-bordered mt-3
">
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
 
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td><%= link_to 'Show', project_task_path(project_id: @project.id, id: task.id), class: "btn btn-outline-secondary" %></td>
    </tr>
  <% end %>
</table>
