<!DOCTYPE html>
<html>
  <head>
    <title>Taskify</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <!-- Header Started -->
    <header class="p-3 text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            Taskify
          </a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li> <%= link_to "Projects", projects_path , class:"nav-link px-2 text-white" %></li>
            <li><%= link_to "Task", all_task_path , class:"nav-link px-2 text-white" %></li>
          </ul>

          <ul class="nav col-12 col-lg-auto mb-2 ms-auto justify-content-center mb-md-0">
            <li> 
              <%= link_to "Your Tasks", your_tasks_path , class:"nav-link px-2 text-white" %>
            </li>
            <li> 
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class:"btn btn-outline-light me-2" if current_user %>
            </li>
            <li>
              <%= link_to 'Register', new_user_registration_path, class:"btn btn-outline-light me-2" if !current_user %>
              <%= link_to 'Sign in', new_user_session_path, class:"btn btn-outline-light me-2" if !current_user %>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <!-- Header Ended -->
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
